.header{
    background-color: rgb(129, 128, 128,0.8);
    
}
.navbar-toggler {
  border: none;
  box-shadow: none;
  
}
.text__color{
    color: #f3f6f4;
}
 .social:hover {
    color: #279ae4;;
 }
 .active{
    color: white !important;
 }